In [1]:
%load_ext sql

In [2]:
%sql sqlite:///council.db

In [171]:
# %%sql
# DROP TABLE Researchers;
# CREATE TABLE Researchers (
#     ResearcherID INT PRIMARY KEY,
#     FirstName VARCHAR(255),
#     LastName VARCHAR(255),
#     Email VARCHAR(255),
#     Organization VARCHAR(255)
# );

 * sqlite:///council.db
Done.
Done.

[]

In [180]:
# %%sql 
# DROP TABLE Competitions;
# CREATE TABLE Competitions (
#     CompetitionID INT PRIMARY KEY,
#     Title VARCHAR(255),
#     SubmittedDate DATE,
#     Description TEXT,
#     Area VARCHAR(255),
#     Status VARCHAR(255)
# );

 * sqlite:///council.db
Done.
Done.

[]

In [186]:
# %%sql 
# DROP TABLE Applications;
# CREATE TABLE Applications (
#     ApplicationID INT PRIMARY KEY,
#     RequestedAmount DECIMAL(10,2),
#     Status VARCHAR(255),
#     Deadline DATE,
#     AwardedAmount DECIMAL(10,2),
#     principleInvestigatorID INT,
#     CompetitionID INT,
#     FOREIGN KEY (principleInvestigatorID) REFERENCES Researchers(ResearcherID),
#     FOREIGN KEY (CompetitionID) REFERENCES Competitions(CompetitionID)
# );

 * sqlite:///council.db
Done.
Done.

[]

In [219]:
# %%sql 
# DROP TABLE WorkOn;
# CREATE TABLE WorkOn (
#     ApplicationID INT,
#     ResearcherID INT,
#     FOREIGN KEY (ApplicationID) REFERENCES Application(ApplicationID)
#     FOREIGN KEY (ResearcherID) REFERENCES Researchers(ResearcherID)
# );

 * sqlite:///council.db
Done.
Done.

[]

In [316]:
# %%sql 
# DROP TABLE Review;
# CREATE TABLE Review (
#     ApplicationID INT,
#     ReviewID INT,
#     FOREIGN KEY (ApplicationID) REFERENCES Application(ApplicationID)
#     FOREIGN KEY (ReviewID) REFERENCES Researchers(ResearcherID)
# );

 * sqlite:///council.db
Done.
Done.

[]

In [115]:
# %%sql 
# CREATE TABLE Meetings (
#     MeetingID INT PRIMARY KEY,
#     Date DATE,
# );

In [116]:
# %%sql 
# CREATE TABLE MeetingsCompetitionList (
#     MeetingID INT,
#     CompetitionID INT,
#     FOREIGN KEY (CompetitionID) REFERENCES Competitions(CompetitionID)
# );

In [ ]:
# %%sql
# CREATE TABLE MeetingsReviewerIDList (
#     MeetingID INT,
#     ReviewerID INT,
#     FOREIGN KEY (ReviewerID) REFERENCES Researchers(ResearcherID)
# );

In [330]:
# %%sql
# INSERT INTO Researchers (ResearcherID, FirstName, LastName, Email, Organization) VALUES 
# (1, 'Karen', 'Davis', 'josephwright@hotmail.com', 'University of Victoria'), 
# (2, 'Charles', 'Ayers', 'darlenediaz@hotmail.com', 'University of Victoria'), 
# (3, 'Justin', 'Smith', 'jessicarobinson@hahn.com', 'University of British Columbia'), 
# (4, 'Jeffrey', 'Whitney', 'ybutler@yahoo.com', 'University of Victoria'), 
# (5, 'Evan', 'Obrien', 'valeriewest@leonard.com', 'University of Victoria'), 
# (6, 'Gabrielle', 'Conway', 'jcohen@ellison.com', 'University of British Columbia'), 
# (7, 'Paul', 'Green', 'kfranklin@hotmail.com', 'McGill University'), 
# (8, 'Rodney', 'Yoder', 'gregory44@gilbert-ramos.info', 'Simon Fraser University'), 
# (9, 'Jennifer', 'Hill', 'kristinmarshall@meyers.com', 'University of Victoria'), 
# (10, 'Michael', 'Li', 'johnsonstephanie@yahoo.com', 'Simon Fraser University'), 
# (11, 'Stephanie', 'Medina', 'amyfowler@hernandez.com', 'University of British Columbia'), 
# (12, 'Jason', 'Rodriguez', 'bcarr@hotmail.com', 'University of Victoria'), 
# (13, 'Michael', 'Vance', 'sosaamanda@gmail.com', 'University of Victoria'), 
# (14, 'Paige', 'Villarreal', 'nfowler@yahoo.com', 'Simon Fraser University'), 
# (15, 'Victoria', 'Diaz', 'amyrandolph@krause.com', 'University of Victoria'), 
# (16, 'Dennis', 'Greene', 'patriciastokes@phillips.com', 'University of British Columbia'), 
# (17, 'David', 'Estrada', 'kylejackson@yahoo.com', 'University of British Columbia'), 
# (18, 'Paige', 'Mcguire', 'hardincathy@rivera-wolfe.net', 'University of British Columbia'), 
# (19, 'Charles', 'Murphy', 'sanchezjanet@hotmail.com', 'University of Victoria'), 
# (20, 'Anna', 'Case', 'patrick72@mclaughlin-smith.com', 'Simon Fraser University'),
# (21, 'Lisa', 'Parker', 'audreygoodwin@munoz.info', 'Simon Fraser University'), 
# (22, 'Jesse', 'Burch', 'perezjustin@gmail.com', 'University of British Columbia'), 
# (23, 'Richard', 'Salazar', 'faith38@perez.com', 'University of Victoria'), 
# (24, 'Daniel', 'Moore', 'cheryljohnson@gmail.com', 'University of British Columbia'), 
# (25, 'Samantha', 'Freeman', 'michelle62@schneider.org', 'University of Victoria'), 
# (26, 'Joshua', 'Thomas', 'wmorris@gmail.com', 'McGill University'), 
# (27, 'John', 'Carter', 'haleynicole@yahoo.com', 'University of British Columbia'), 
# (28, 'Ashley', 'Wilson', 'brianroberts@yahoo.com', 'Simon Fraser University'), 
# (29, 'Angela', 'Martinez', 'millerchristopher@hotmail.com', 'McGill University'), 
# (30, 'Heather', 'Anderson', 'robertlopez@hotmail.com', 'University of British Columbia'), 
# (31, 'Michelle', 'Hernandez', 'shannon16@walker.com', 'University of Victoria'), 
# (32, 'Elizabeth', 'Robinson', 'robertsbrandon@wilson.com', 'Simon Fraser University'), 
# (33, 'Nicholas', 'Brown', 'robertmartinez@hotmail.com', 'University of British Columbia'), 
# (34, 'Christopher', 'Lee', 'sandra34@yahoo.com', 'University of Victoria'), 
# (35, 'Jessica', 'Garcia', 'hilldavid@gmail.com', 'McGill University'), 
# (36, 'Matthew', 'Martinez', 'jessica26@harris.info', 'Simon Fraser University'), 
# (37, 'Laura', 'Mitchell', 'scottkelly@barnes.com', 'University of Victoria'), 
# (38, 'Brian', 'Taylor', 'annawilliams@gmail.com', 'University of British Columbia'), 
# (39, 'Kimberly', 'White', 'dianawilson@yahoo.com', 'McGill University'), 
# (40, 'Gregory', 'Anderson', 'lopezchristopher@hotmail.com', 'Simon Fraser University'),
# (41, 'Amanda', 'Gonzalez', 'shirleybaker@yahoo.com', 'McGill University'), 
# (42, 'Brittany', 'Smith', 'carolyn91@williams-garcia.com', 'University of Victoria'), 
# (43, 'Megan', 'Clark', 'samantha58@yahoo.com', 'Simon Fraser University'), 
# (44, 'Melissa', 'Lopez', 'michaelscott@hughes.biz', 'University of British Columbia'), 
# (45, 'Christina', 'Harris', 'bakerkenneth@jones.com', 'University of Victoria'), 
# (46, 'Ashley', 'Martin', 'davidsonkelly@hernandez.com', 'McGill University'), 
# (47, 'Nicole', 'Allen', 'wilsonmichael@yahoo.com', 'Simon Fraser University'), 
# (48, 'Emily', 'Young', 'sandersjames@wilson.org', 'University of British Columbia'), 
# (49, 'Stephanie', 'Hernandez', 'elizabethgarcia@gmail.com', 'University of Victoria'), 
# (50, 'Samantha', 'King', 'jennifer63@perez-jones.com', 'McGill University'), 
# (51, 'Elizabeth', 'Wright', 'patriciawilliams@yahoo.com', 'Simon Fraser University'), 
# (52, 'Lauren', 'Martinez', 'danielleclark@williams.com', 'University of British Columbia'), 
# (53, 'Rachel', 'Taylor', 'gregorylee@anderson.com', 'University of Victoria'), 
# (54, 'Sarah', 'Moore', 'hannahmartinez@gmail.com', 'McGill University'), 
# (55, 'Daniel', 'Anderson', 'brianwhite@brown.com', 'Simon Fraser University'), 
# (56, 'Christopher', 'Miller', 'smithbrian@rodriguez.com', 'University of British Columbia'), 
# (57, 'Matthew', 'Davis', 'robinsonmichael@hotmail.com', 'University of Victoria'), 
# (58, 'Andrew', 'Martinez', 'patricia55@lee.com', 'McGill University'), 
# (59, 'Joseph', 'Taylor', 'garciamark@jones-roberts.com', 'Simon Fraser University'), 
# (60, 'Ryan', 'Garcia', 'michael34@gmail.com', 'University of British Columbia');

In [93]:
# %%sql
# SELECT * FROM Researchers;

In [329]:
# %%sql
# INSERT INTO Competitions (CompetitionID, Title, SubmittedDate, Description, Area, Status) VALUES
# (1, 'Big Data Challenge 2024', '2024-12-31', 'A challenge to solve big data problems using innovative solutions.', 'Big Data', 'open'),
# (2, 'Quantum Computing Quest', '2024-06-30', 'Exploring the potentials of quantum computing in solving complex calculations.', 'Quantum Computer', 'open'),
# (3, 'AI Innovation Award 2024', '2024-09-15', 'A competition to create the most innovative AI-driven applications.', 'Artificial Intelligence', 'closed'),
# (4, 'Global Biology Olympiad', '2024-11-20', 'An international competition for high school students to demonstrate their biology knowledge.', 'Biology', 'open'),
# (5, 'Computer Science Hackathon', '2024-08-05', 'A 48-hour marathon for developing software that addresses a specific challenge.', 'Computer Science', 'closed'),
# (6, 'Future of Robotics', '2024-07-19', 'Competition focusing on advancements in robotics technology and design.', 'Robotics', 'open'),
# (7, 'Cybersecurity Grand Challenge', '2024-10-10', 'Identify and solve cybersecurity threats in innovative ways.', 'Cybersecurity', 'closed'),
# (8, 'Virtual Reality Innovators', '2024-05-22', 'Creating immersive virtual reality experiences for various applications.', 'Virtual Reality', 'open'),
# (9, 'Sustainable Energy Solutions', '2024-03-30', 'Competitions to find sustainable and renewable energy solutions.', 'Sustainable Energy', 'closed'),
# (10, 'Genetic Engineering Hack', '2024-04-15', 'A contest to showcase breakthroughs in genetic engineering.', 'Genetic Engineering', 'open'),
# (11, 'Deep Learning Discoveries', '2024-02-28', 'A contest for breakthroughs in deep learning techniques.', 'Deep Learning', 'open'),
# (12, 'Nanotechnology Innovations', '2024-04-30', 'Pushing the boundaries of nanotech to solve real-world problems.', 'Nanotechnology', 'closed'),
# (13, 'Space Exploration Challenge', '2024-07-15', 'Designing innovative technologies for space exploration.', 'Space Technology', 'open'),
# (14, 'Marine Biology Research', '2024-09-30', 'Encouraging young scientists to present their marine biology research.', 'Marine Biology', 'closed'),
# (15, 'Cloud Computing Advancements', '2024-11-20', 'A showcase of innovative cloud computing solutions.', 'Cloud Computing', 'open'),
# (16, 'Quantum Encryption Breakthrough', '2024-01-15', 'Advancing the field of quantum encryption.', 'Quantum Computing', 'closed'),
# (17, 'AI for Healthcare', '2024-03-22', 'Developing AI solutions to improve healthcare outcomes.', 'Artificial Intelligence', 'open'),
# (18, 'Blockchain Innovation Award', '2024-06-05', 'Creating decentralized applications that solve real problems.', 'Blockchain', 'closed'),
# (19, 'Renewable Resources Hackathon', '2024-08-15', 'Innovating in the use of renewable resources for sustainable development.', 'Sustainable Energy', 'open'),
# (20, 'Digital Art and Design Contest', '2024-10-01', 'A competition for artists and designers to showcase their digital creations.', 'Digital Art', 'closed');

In [30]:
# %%sql 
# SELECT * FROM Competitions;

In [222]:
# %%sql 
# INSERT INTO Applications (ApplicationID, RequestedAmount, Status, Deadline, AwardedAmount, principleInvestigatorID, CompetitionID) VALUES 
# (1, 100000.00, 'Submitted', '2024-05-01', 0.00, 1, 1),
# (2, 85000.50, 'Submitted', '2024-06-15', 0.00, 2, 2),
# (3, 75000.00, 'Award', '2024-07-20', 50000.00, 3, 3),
# (4, 50000.00, 'Submitted', '2024-08-05', 0.00, 4, 4),
# (5, 120000.00, 'Submitted', '2024-09-10', 0.00, 5, 5),
# (6, 95000.00, 'Submitted', '2024-10-15', 0.00, 6, 6),
# (7, 110000.00, 'Award', '2024-11-20', 75000.00, 7, 7),
# (8, 130000.00, 'Submitted', '2024-12-25', 0.00, 8, 8),
# (9, 140000.00, 'Submitted', '2025-01-30', 0.00, 9, 9),
# (10, 60000.00, 'Submitted', '2025-03-07', 0.00, 10, 10),
# (11, 70000.00, 'Award', '2025-04-12', 40000.00, 11, 11);

In [54]:
# %%sql 
# SELECT * FROM Applications;

In [221]:
# %%sql
# INSERT INTO WorkOn (ApplicationID, ResearcherID) VALUES
# (1, 1), (2, 2),
# (3, 3), (4, 4), 
# (5, 5), (6, 6),
# (7, 7), (8, 8),
# (9, 9), (10, 10),
# (11, 11),
# (1, 12), (1, 13), 
# (2, 14), (2, 15),
# (3, 16), (3, 17),
# (4, 18), (4, 19),
# (5, 20), (5, 21),
# (6, 22), (6, 23),
# (7, 24), (7, 25),
# (8, 26), (8, 27),
# (9, 28), (9, 29),
# (10, 30), (10, 31),
# (11, 32), (11, 33);

In [94]:
# %%sql 
# SELECT * FROM WorkOn;

In [328]:
# %%sql
# INSERT INTO Review (ApplicationID, ReviewID)
# VALUES 
# (1, 34), (1, 35), (1, 36),
# (2, 37), (2, 38), (2, 39),
# (3, 41), (3, 42),
# (4, 43), (4, 44), (4, 45),
# (5, 46), (5, 47), (5, 48),
# (6, 49), (6, 51),
# (7, 52), (7, 54),
# (8, 55), (8, 56), (8, 57),
# (9, 58), (9, 59), (9, 60),
# (10, 61), (10, 62), (10, 63),
# (11, 64), (11, 65);

In [96]:
# %%sql 
# SELECT * FROM Review;

In [327]:
# %%sql
# INSERT INTO Meetings (MeetingID, Date) VALUES
# (1, '2023-04-22'),
# (2, '2023-04-26'),
# (3, '2023-12-02'),
# (4, '2023-04-15'),
# (5, '2023-02-12');

In [326]:
# %%sql 
# INSERT INTO MeetingsCompetitionList (MeetingID, CompetitionID) VALUES
# (1, 1), (1, 6), (1, 11), (1, 16),
# (2, 2), (2, 7), (2, 12), (2, 17),
# (3, 3), (3, 8), (3, 13), (3, 18), 
# (4, 4), (4, 9), (4, 14), (4, 19),
# (5, 5), (5, 10), (5, 15), (5, 20);

In [297]:
# %%sql
# SELECT *
# FROM Applications
# JOIN Competitions ON Competitions.CompetitionID = Applications.CompetitionID
# WHERE Competitions.Area = 'Computer Science';

In [298]:
# %%sql
# SELECT Applications.* 
# FROM Applications
# WHERE AwardedAmount = (
#     SELECT MAX(Applications.AwardedAmount) 
#     FROM Applications
#     JOIN Competitions ON Applications.CompetitionID = Competitions.CompetitionID
#     WHERE Competitions.SubmittedDate < '2024-10-10'
# );

In [325]:
# %%sql 
# SELECT AVG(ABS(AwardedAmount - RequestedAmount)) FROM Applications 
# WHERE Applications.CompetitionID = (
#     SELECT CompetitionID FROM Competitions
#     WHERE Area = 'Biology'
# )

In [324]:
# %%sql 
# SELECT * FROM Applications
# WHERE ApplicationID == (
#     SELECT ApplicationID FROM Review
#     WHERE Review.ReviewID == (
#         SELECT Researchers.ResearcherID FROM Researchers
#         WHERE Researchers.FirstName == 'Emily' AND Researchers.LastName ==  'Young'
#         )
# )

In [285]:

# %%sql 
# SELECT * FROM Applications
# WHERE ApplicationID IN (
#     SELECT ApplicationID
#     FROM Review
#     GROUP BY ApplicationID
#     HAVING COUNT(DISTINCT ReviewID) < 3
# )

In [323]:
# %%sql 
# SELECT * FROM Researchers
# WHERE Organization NOT IN (
#     SELECT Organization FROM Researchers 
#     WHERE ResearcherID IN (
#         SELECT R1.ReviewID
#         FROM Review R1
#         JOIN Review R2 ON R1.ApplicationID = R2.ApplicationID
#         WHERE R2.ReviewID = 45
#     )
# )

In [322]:
# %%sql
# SELECT R1.ReviewID
#     FROM Review R1
#     JOIN Review R2 ON R1.ApplicationID = R2.ApplicationID
#     WHERE R2.ReviewID = 45

In [321]:
# %%sql
# SELECT A.Deadline
# FROM Applications A
# JOIN Review R ON A.ApplicationID = R.ApplicationID
# WHERE R.ReviewID IN (
#     SELECT R1.ReviewID
#     FROM Review R1
#     JOIN Review R2 ON R1.ApplicationID = R2.ApplicationID
#     WHERE R2.ReviewID = 44
#     AND R1.ReviewID != R2.ReviewID)

In [320]:
# %%sql
#     SELECT R1.ReviewID
#     FROM Review R1
#     JOIN Review R2 ON R1.ApplicationID = R2.ApplicationID
#     WHERE R2.ReviewID = 44
#     AND R1.ReviewID != R2.ReviewID

In [319]:
# %%sql
# SELECT c.CompetitionID, c.Title
# FROM Competitions c
# INNER JOIN (
#     SELECT CompetitionID
#     FROM Applications
#     WHERE (ApplicationID IN (
#             SELECT ApplicationID
#             FROM (
#                 SELECT ApplicationID, COUNT(*) AS participants
#                 FROM workOn
#                 GROUP BY ApplicationID
#             )
#             WHERE participants >= 10
#         )
#         OR RequestedAmount >= 20000
#     )
# ) AS a
# ON c.CompetitionID = a.CompetitionID
# WHERE strftime('%m', SubmittedDate) < '12';

In [318]:
# %%sql
# INSERT INTO Review (ApplicationID, ReviewID) VALUES (1, 35);