In [1]:
%load_ext sql

In [2]:
%sql sqlite:///council.db

In [3]:
# %%sql
# CREATE TABLE Researchers (
#     ResearcherID INT PRIMARY KEY,
#     FirstName VARCHAR(255),
#     LastName VARCHAR(255),
#     Email VARCHAR(255),
#     Organization VARCHAR(255)
# );

 * sqlite:///council.db
Done.

[]

In [4]:
# %%sql
# CREATE TABLE Competitions (
#     CompetitionID INT PRIMARY KEY,
#     Title VARCHAR(255),
#     ApplicationDeadline DATE,
#     Description TEXT,
#     Area VARCHAR(255),
#     Status VARCHAR(255)
# );

 * sqlite:///council.db
Done.

[]

In [5]:
# %%sql 
# CREATE TABLE Proposals (
#     ProposalID INT PRIMARY KEY,
#     RequestedAmount DECIMAL(10, 2),
#     Status VARCHAR(255),
#     AwardedAmount DECIMAL(10, 2),
#     Date DATE,
#     CompetitionID INT,
#     PrincipalInvestigator INT,
#     FOREIGN KEY (CompetitionID) REFERENCES Competitions(CompetitionID),
#     FOREIGN KEY (PrincipalInvestigator) REFERENCES Researchers(ResearcherID)
# );

 * sqlite:///council.db
Done.

[]

In [6]:
# %%sql 
# CREATE TABLE Reviewers (
#     ReviewerID INT PRIMARY KEY,
#     ResearcherID INT,
#     FOREIGN KEY (ResearcherID) REFERENCES Researchers(ResearcherID)
# );

 * sqlite:///council.db
Done.

[]

In [7]:
# %%sql 
# CREATE TABLE ConflictOfInterest (
#     ReviewerID INT,
#     ConflictType VARCHAR(255),
#     PRIMARY KEY (ReviewerID),
#     FOREIGN KEY (ReviewerID) REFERENCES Reviewers(ReviewerID)
# );

 * sqlite:///council.db
Done.

[]

In [8]:
# %%sql
# CREATE TABLE Assignments (
#     AssignmentID INT PRIMARY KEY,
#     CompetitionID INT,
#     ReviewerID INT,
#     Deadline DATE,
#     ReviewSubmitted BOOLEAN,
#     FOREIGN KEY (CompetitionID) REFERENCES Competitions(CompetitionID),
#     FOREIGN KEY (ReviewerID) REFERENCES Reviewers(ReviewerID)
# );

 * sqlite:///council.db
Done.

[]

In [9]:
# %%sql 
# CREATE TABLE Meetings (
#     MeetingID INT PRIMARY KEY,
#     Date DATE
# );

 * sqlite:///council.db
Done.

[]